.typed-cursor {
	visibility: hidden;
}

* {
    background: url("http://s1.funon.cc/img/orig/201803/21/5ab1d2e695898.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

#intro {
    font-size: 80px;
}

#explore {
    transition: border-radius 0.5s ease;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

#explore:hover {
    border-radius: 50px;
}

#exploreSurv {
    background: rgba(0, 0, 0, 0.301);
    color: white;
    font-size: 20px;
}

form {
    /* background: rgba(0, 0, 0, 0.301); */
    /* color: rgba(0, 0, 0, 0.301); */
    margin-bottom: 20px;
}

.surveryDiv {
    /* background: rgba(0, 0, 0, 0.301); */
    /* color: rgba(0, 0, 0, 0.301); */
    border-radius: 18px;
    margin-bottom: 20px;
}

.form-group {
    background: rgba(0, 0, 0, 0.301);
    /* color: rgba(0, 0, 0, 0.301); */
    margin-top: 5px;
    border-radius: 5px;
}

label {
    background: rgba(0, 0, 0, 0.062);
    margin-left: 10px;
}

.form-control {
    color: white;
}

#destText {
    font-size: 80px;
    margin-top: 30%;
}

.matchPic {
    width: 480px;
    border-radius: 28px;
    border: 1px solid white;
    margin-top: 45px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#matchName {
    margin-top: 50px;
}