.typed-cursor {
	visibility: hidden;
}

* {
    background: url("http://s1.funon.cc/img/orig/201803/21/5ab1d2e695898.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

#intro {
    font-size: 80px;
}

#explore {
    color: white;
    font-size: 20px;
}

#exploreSurv {
    background: rgba(0, 0, 0, 0.301);
    color: white;
    font-size: 20px;
}

form {
    /* background: rgba(0, 0, 0, 0.301); */
    /* color: rgba(0, 0, 0, 0.301); */
    margin-bottom: 20px;
}

.surveryDiv {
    /* background: rgba(0, 0, 0, 0.301); */
    /* color: rgba(0, 0, 0, 0.301); */
    border-radius: 18px;
    margin-bottom: 20px;
}

.form-group {
    background: rgba(0, 0, 0, 0.301);
    /* color: rgba(0, 0, 0, 0.301); */
    margin-top: 5px;
    border-radius: 5px;
}

label {
    background: rgba(0, 0, 0, 0.062);
    margin-left: 10px;
}

.form-control {
    color: white;
}